{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="../static/css/termsofservice.css">
</head>
<img src="../static/img/1.jpg" style="height: 80px; left:145px; width: 80px; position: absolute; top: 210px;">
<div class="links" style="padding-left: 95px;">
  <a style="display: inline-block;
      width: 300px;
      text-decoration: none;padding-top: 230px; text-align: left; color: #A0A0A0; font-size: 20px;"
    href="#page-1">1.User
    Accounts</a><br>
  <a style="display: inline-block;
      width: 300px;
      text-decoration: none; padding-top: 13px;text-align: left;color: #A0A0A0;font-size: 20px;"
    href="#page-2">2.Content
    Restrictions</a><br>
  <a style="display: inline-block;
      width: 300px;
      text-decoration: none;padding-top: 13px;text-align: left;color: #A0A0A0;font-size: 20px;"
    href="#page-3">3.Copyright</a><br>
  <a style="display: inline-block;
      width: 300px;
      text-decoration: none;padding-top: 13px;text-align: left;color: #A0A0A0;font-size: 20px;"
    href="#page-4">4.Communication</a>
</div>
<div class="scroll">
  <b>
    <h12 style="padding-left: 10%;
         position: absolute;
         right: 0%;
         left: -1%;
         font-weight: bold;
         font-size: 25px;
         text-align: justify;
         width: 40%;
         top:80px;
         ">Terms of service</h12>
  </b>
  <h13 style="padding-left: 10%;
      position: absolute;
      right: 0%;
      left: -1%;
      font-weight: bold;
      font-size: 15px;
      text-align: justify;
      width: 40%;
      top:200px;">1 User Accounts</h13>
  <br><br>
  <div class="scroll-page" id="page-1">
    <p>When You create an account with Us, you must provide Us information that is accurate, complete, and
      current at all times. Failure to do so constitutes a breach of the terms, which may result in immediate
      termination ofyour account on Our Service.
      You are responsible for safeguarding the password that you use to access the Service and for any activities
      or actions under your password. You agree not to disclose Your password to any third party. You must notify us
      immediately upon becoming
      aware of any breach of security or unauthorized use of your account.
      You may not use as a username the name of another person or entity or that is not lawfully available for
      use, a name or trademark that is subject to any rights of another person or entity other than You without
      appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.
    </p>
  </div>
  <h14 style="padding-left: 10%;
      position: absolute;
      right: 0%;
      left: -1%;
      font-weight: bold;
      font-size: 15px;
      text-align: justify;
      width: 40%;
      top:820px;">2 Content Restrictions</h14>
  <div class="scroll-page" id="page-2">The Company is not responsible for the content of the Service's users. You
    expressly understand and
    agree that You are solely responsible for the Content and for all activity that occurs under your account,
    whether done so by You or any third person using Your account.
    You may not transmit any Content that is unlawful, offensive, upsetting, intended to disgust, threatening,
    libelous, defamatory, obscene or otherwise objectionable. Bully Stock Exchange reserves the right, but not the
    obligation, to, in its sole discretion, determine whether or not
    any Content is appropriate and complies with this Terms, refuse or remove this Content. Bully Stock Exchange
    further reserves the right to make formatting and edits and change the manner of any Content. The
    Company can also limit or revoke the use of the Service if You post such objectionable Content. As the
    Company cannot control all content posted by users and/or third parties on the Service, you agree to use
    the Service at your own risk. You understand that by using the Service You may be exposed to content that
    You may find offensive, indecent, incorrect or objectionable, and You agree that under no circumstances will
    the Company be liable in any way for any content, including any errors or omissions in any content, or any
    loss or damage of any kind incurred as a result of your use of any content.
  </div>
  <h15 style="padding-left: 10%;
      position: absolute;
      right: 0%;
      left: -1%;
      font-weight: bold;
      font-size: 15px;
      text-align: justify;
      width: 40%;
      top:1420px;">3 Copyrigth</h15>
  <div class="scroll-page" id="page-3">
    Content published on this website (digital downloads, images, texts, graphics,
    logos) is the property of Bully Stock Exchange and/or its content creators and protected by international copyright
    laws. The entire compilation of the content found on this website is the exclusive property of Bully Stock Exchange,
    with copyright authorship for this compilation by Bully Stock Exchange. This website is not intended for children
    and we do not knowingly collect data relating to children. It is important that you read this privacy notice
    together with any other privacy notice or fair processing notice we may provide on specific occasions when we are
    collecting or processing personal data about you so that you are fully aware of how and why we are using your data.
    This privacy notice supplements the other notices and is not intended to override them. Various national,
    provincial, state and federal laws govern the collection, use and disclosure by Stantec Inc. and its affiliates and
    group companies of personal information used for a commercial activity.When we collect personal information from our
    clients, investors and other members of the public, it will be used and disclosed for the following purposes
    to:<br><br>
    - Establish and maintain responsible commercial relations with you<br>
    - Understand your service and/or project needs<br>
    - Develop, enhance, market or provide products and services to you<br>
    - Manage and develop our business and operations<br>
    - Meet legal and regulatory requirements
    <p>
  </div>
  <h15 style="padding-left: 10%;
      position: absolute;
      right: 0%;
      left: -1%;
      font-weight: bold;
      font-size: 15px;
      text-align: justify;
      width: 40%;
      top:2260px;">4 Communication</h15>
  <div class="scroll-page" id="page-4" id="page-4">The entire communication with us is electronic. Every time you send
    us an email or visit our website, you are going to be communicating with us. You hereby consent to receive
    communications from us. If you subscribe to the news on our website, you are going to receive regular emails from
    us. We will continue to communicate with you by posting news and notices on our website and by sending you emails.
    We may use your Personal Information to contact you with newsletters, marketing or promotional. If you have any
    questions and comments about our services you can contact us using our contact form and we will try to get back to
    you as soon as possible. Be aware that it might take a few days since, since we will need to look at your case
    carefully and satisfy your requirements.
    materials.
  </div>
</div>
<br><br><br><br><br>
</script>
{% endblock %}